/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    background-color: #EDFFF4;
} 
.padding-none-alphabet {
    padding: 0 !important;
}
.hideMe {
    display: none;
}
.margin-none {
    margin: 0;
}
main {
    margin-top: 3px;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.message-box{
    margin: 10px;
    padding: 20px;
    color: white;
}
.rules-icons {
    font-size: 1.3em!important;
    /* margin-top: 20px!important; */
}
#modalMessage {
    max-width: 500px !important;
}
.page_title {   
    font-size: 14pt;
}
.info-group-divider {
    margin: 0px 0 5px 0 !important;
    padding-top: 5px;
    border-top: #ccccff 1px solid;
}
.returned-message {
    padding: 5px;
}
.dataTable label{
    margin-top: 20px;
    padding:0;
    background:none;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
    font-size: 12pt;
    color: black;
}
.login-menu a{
    color: #006160;
}
.user-menu :hover{
    background-color: white;
}
#user-menu{
    border: #f1f4ff 1px solid;
}
#user-menu .spacing{
    margin-top: 5px;
}
#user-menu li a{
    padding: 5px;
}
#user-menu li a:hover{
    background-color: #f2f5ff;
}
.button-margin {
    margin-bottom: 5px;
}
.title-login {
    color: #25A69A;
}
.icons-login {
    max-height: 60%;
    margin-top: 3%;
}
#user-dropdown a{
    color: white;
}
.justify-align {
    text-align: justify;
}
label[class~="error"] {
    position: static !important;
    color: #cc0000 !important;
    font-size: 0.8em;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, select{
    background-color: #FAFAFA;
    border: 0.5px solid #9e9e9e;
    border-bottom: 0.5px solid #9e9e9e;
    border-radius: 2px;
    outline: none;
    height: 1.8rem;
    width: 100%;
    font-size: 1rem;
    /*margin: 0 0 5px 0;*/
    padding: 5px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}
#form-login input{
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 2.5rem;
}
#logo-container img {
    max-height: 60px;
    max-width: 350px;
    margin: 10px -15px 0 -15px;
}
#menu-links{
    margin-left: -20px;
}
.icon-control-panel {
    text-align: center;
    padding-top: 5% !important;
}
.icon-control-panel i {
    cursor: default;
}
.lst-informations {
    margin: 0;
}
.card_words {
    min-height: 400px !important;
}
.card-research {
    background-image: url("../images/mapa-mundi.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
/*.modal-register-word{
    width: 100% !important;
}
.modal-register-word .modal-content, .modal-register-word .modal-action {
    width: 90% !important;
    min-height: 70% !important;
    max-height: 85% !important;
}*/
.modal-login {
    width: 88% !important;
}
@media only screen and (min-width: 900px) {
    .container {
        width: 900px !important;
    }

    #logo-container img {
        max-height: 60px;
        max-width: 350px;
    }

    .nav-mobile a {
        color: #006699 !important;
    }
}

@media only screen and (max-width: 480px) {
    #logo-container img {
        max-height: 60px;
        max-width: 80%;
        margin: 10px 0 0 0;
    }
}